  body{
    background-color:dimgrey;
  }
  .hidden {
    display: none;
  }
  .recom{
    display: flex;
    width: 110px;
    background-color: darkolivegreen;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .recom:hover{
    overflow: visible; 
    white-space: normal;
  }
  .button {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgb(46, 45, 45);
    text-align: center;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: gray;
  }
